body {
	background: url(/portfolio/img/stripe-bg.jpg);
}

.sarah-content {
	background: #fff;
	margin: 26px 0 100px;
	border-top: 2px #d4d0ca solid;
	border-bottom: 2px #d4d0ca solid;
}

.sarah-name a {
	background: url(/portfolio/img/sarah-hearts-emblem.png) top left no-repeat;
	display: block;
	position: absolute;
	top: 0;
	padding: 128px 0 0 145px;
	height: 52px;
	font-family: "Gill Sans Light";
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 100;
	color: #7b7775;
	letter-spacing: 0.1em;
}
.sarah-name a:hover {
	text-decoration: none;
}

.projects, .menu, .projects a, .menu a {
	font-family: "Gill Sans Light";
	font-size: 14px;
	color: #7b7775;
	line-height: 22px;
}

.menu {
	padding-top: 105px;
	font-size: 15px;
}
	.menu ul {
		margin: 0;
	}
	.menu li {
		list-style: none;
		float: left;
	}
	.menu li a {
		position: relative;
		z-index: 9;
		border-right: 1px #7b7775 solid;
		padding: 0 7px;
		height: 14px;
		letter-spacing: 0.1em;
	}
	.menu li:last-child a {
		border-right: none;
		padding-right: 0;
	}


.nav-button {
	position: absolute;
}

	.nav-button.prev {
		left: 50%;
		margin-left: -510px;
		margin-top: 380px;
	}

	.nav-button.next {
		left: 50%;
		margin-left: 435px;
		margin-top: 380px;
	}

	.nav-button a {
		display: block;
		background: url(/portfolio/img/arrows.png);
		width: 53px;
		height: 53px;
		text-indent: -9999px;
		text-decoration: none;
	}

	.nav-button.prev a {
		background-position: bottom left;
	}


.projects {
	padding: 185px 0 0;
}

.project h3 {
	margin: 0 0 5px;
	padding: 0;
	line-height: normal;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 15px;
	letter-spacing: 0.1em;
}

.project hr {
	margin: 7px 0 12px;
	padding: 0;
}

.project p {
	margin-bottom: 27px;
}

.images img {
	margin-bottom: 23px;
}

.contact-me {
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	background: #ABE65F;
	color: #00AD19 !important;
	border: 2px #00AD19 solid;
}

.about {
	padding-top: 30px;
}

.social {
	text-align: center;
	padding-bottom: 5px;
}


@media (max-width: 767px) {
	body {
		padding: 0 !important;
	}
	
	.sarah-content {
		padding: 0 30px;
	}
	
	.sarah-name a {
		padding: 78px 0 61px 145px;
	}

	.projects {
		padding: 50px 0 0;
	}
}

@media (max-width: 413px) {
	.sarah-name a {
		padding: 48px 0 80px 145px;
	}
}

